html{
  width: 100%;
  overflow-x: hidden!important;
}
*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden !important;
}
.ndioma_color {
  color: #ca7709;
}
.btn-ndioma{
  color: #fff;
  background-color: #ca7709;
  border-color: #ca7709;
}
header{
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(240, 230, 230, 0.4));
  background-size: cover;
  background-position: center;
  /* height: 80vh; */
}
#logo{
  width: 115px;
}
.nav-link{
  width: 90px;
  border-bottom: 2px solid #ca7709;
  margin-right: 10px;
}
.navbar-toggler{
  background-color: #fff;
}
.navbarToggler {
  background: #fff;
}
.nav_bar-still{
  background: #fff;
}
.nav_bar-scroll{
  background: #ca7709;
}
.navbar_btn-still{
  background: #ca7709;
  color: #fff;
}
.navbar_btn-scroll{
  background: #fff;
  color: #ca7709;
}
.banner_view{
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  margin-top: 5rem;
}
.head_in{
  color: #333;
  font-weight: bolder;
}
.action_btn, .action_btn_fill{
  color: #ca7709;
  border-radius: 50px;
  font-weight: 700;
  border: 2px solid #ca7709;
}
.action_btn_fill{
  background: #ca7709;
  color: #fff;
}
.action_btn:hover, .action_btn:active {
  color: #fff;
  font-weight: 700;
  background-color: #ca7709;
  border-color: #ca7709;
}
.action_btn_fill:hover, .action_btn_fill:active,
.action_btn_fill:focus {
  color: #ca7709 !important;
  font-weight: 700 !important;
  background-color: #fff !important;
  border-color: #ca7709 !important;
  box-shadow: none !important;
}

main{
  color: #555;
}
.service_sect{
  color: #ca7709;
  margin-top: 30px;
  margin-bottom: 15px;
}
.serv_head{
  color: #333;
}
.serv_head::after {
  display: block;
  height: 2px;
  background-color: #ca7709;
  content: "";
  width: 80px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
}
.card{
  border: none;
}
.card_header{
  font-size: 1.2em;
  background-color: transparent;
}
.card-text{
  color: #333;
  font-size: 1.1em;
}
.mission_text{
  color: #7d7979 !important;
  font-size: 1.1em;
}
footer{
  height: 260px;
}
.bg_ndioma_dark{
  background: #555;
  color: #fff !important;
}
.social_link{
  padding: .75rem 0.25rem;
}
a.authored {
  color: #aaa;
  text-decoration: none;
}
